html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}

body {
    line-height: 1;
}

*, 
*::before, 
*::after {
    box-sizing: border-box;
    
}

img {
	max-width: 100%;
	height: auto;
}

ol, ul {
	list-style: none;
}

blockquote, q {
	quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}

a {
	text-decoration: none;
}

body {
    font-family: Arial, Helvetica, sans-serif;
}

img {
    width: 100%;
}

.container {
    width: 95%;
    margin: 0 auto;
}

/*****************************************************
    Welcome
******************************************************/
#welcome {
    position: relative;
    height: 100vh;
    background-color: rgba(10,10,10,.75);
    color: #fff;
    text-align: center;
}

#welcome::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url("../images/background.jpg") no-repeat center center/cover;
    z-index: -1;
}

#welcome .contents {
    display: flex;
    justify-content: center;
    padding: 10.5em 0;
}

#welcome .contents h1 {
    font-size: 2.5em;
    font-weight: 900;
}

@media screen and (min-width: 768px) {
    #welcome .contents {
        padding: 15.5em 0;
    }

    #welcome .contents h1 {
        font-size: 3em;
        font-weight: 900;
    }
}


/*****************************************************
    About
******************************************************/
#about {
    position: relative;
    height: 100vh;
    background-color: rgba(10,10,10,.8);
    color: #fff;
    text-align: center;
}

#about::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url("../images/Skills.png") no-repeat center center/cover;
    z-index: -1;
}

.about-contents {
    padding: 1.5em 0;
}

.about-title h2 {
    position: relative;
    font-size: 2em;
    margin-bottom: .75em;
}

.about-title h2::after {
    content: "";
    position: absolute;
    left: 50%;
    bottom: -.2em;
    transform: translateX(-50%);
    width: 30%;
    height: 3px;
    background: #fff;
}

.about-contents .img {
    height: 9.5em;
    width: 40%;
    margin: 0 auto;
    margin-bottom: .5em;
    border-radius: 5px;
}

.about-contents .content {
    margin-bottom: .75em;
}

.about-contents .img img {
    height: 100%;
    border-radius: 5px;
}
.about-contents .content p {
    margin-bottom: .5em;
}

.about-contents .content p:last-of-type {
    margin-bottom: 0;
}

.about-contents .icons {
    z-index: 5;
}

.about-contents .icons li {
    display: inline-block;
}

.about-contents .icons li a {
    color: #d3d3d3;
}

.about-contents .icons li a:hover {
    color: blue;
}

@media screen and (min-width: 768px) {
    .about-title h2 {
        font-size: 3.5em;
    }
    
    .about-title h2::after {
        width: 12%;
        height: 4px;
    }

    .about-contents .img {
        height: 18.5em;
        width: 25%;
        margin: 0 auto;
        margin-bottom: .85em;
    }

    .about-contents .content p {
        width: 65%;
        margin: 0 auto;
        margin-bottom: .75em;
    }
}
/********************************************************************
Skills and Education
********************************************************************/
#skills {
    height: 100vh;
    width: 100%;
    padding: 0;
    margin: 0;
    position: relative;
    background-color: rgba(10,10,10,.8);
    color: #fff;
    text-align: center;
}

#skills:after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url("../images/Skills.png") no-repeat center center/cover;
    z-index: -1;
}
.icons{
    width: 100px;
    height: 100px;
}

.skills-contents {
    display: grid;
    grid-template-columns: 1fr;
    padding: 1.5em;
}

@media screen and (min-width: 768px) {
    .skills-contents {
        grid-template-columns: 1fr 1fr;
        padding: 5.5em;
    }

}